html {
    font-size: 22px;
}

body {
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

td{
    width: 60px;
    height: 60px;
    text-align: center;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.blue {
    background-color: skyblue;
}

.skin {
    background-color: rgb(241, 194, 178);
}

.pink {
    background-color: pink;
}

.rose{
    background-color: palevioletred;
}

.orange{
    background-color: orange;
}

.marine{
    background-color: aquamarine;
}

.aqua {
    background-color: aqua;
}

.greenyellow {
    background-color: greenyellow;
}

.green {
    background-color: green;
}

.black {
    background-color: black;
}

.purple {
    background-color: rgb(215, 201, 229);
}