html {
    font-size: 22px;
}

body {
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.aqua {
    background-color: aqua;
}

.greenyellow {
    background-color: greenyellow;
}

.greem {
    background-color: green;
}

.black {
    background-color: black;
}